/*
Highest level css styling for the entire frontend. Should cascade to every other
part of the application.
*/


/* Basic Formatting */
body, html {
  margin: 0;
  padding: 0;
}

/* Fonts and Styling */
body, html {
  font-family: Arial, Helvetica, sans-serif;
}
